@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

/*All text on the website*/
body {
    font-size: 14pt; 
    font-family: arial;
}

/*In order to get som "air" on the top of the page*/
header {
    margin-top: 80px;
}

/*Positioning the h1 inside the header image*/
header h1 {
    position: absolute;
    margin-top: -76px;
    margin-left: 65px;
}

.header {
    padding-right: 10px;
    overflow: hidden;
}

.header img {
    opacity: 0.6;
    width: 98%;
    height: 100px;
    border: solid black 2px;
}

section {
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 470px 470px 470px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px dashed white;
}

.burger {
     color: white;
     margin-left: 8px;
     border: 2px dashed white;
     padding-left: 5px;
}

.burger img {
    border: 2px solid white;
    margin-left: 60px;
}

.burger h3 {
    text-align: center;
}

#contact {
    padding: 10px;
    border: 2px dashed black;
}


#contact p {
    padding: 5px;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 30pt;
    font-weight: bold;
    text-decoration: underline overline;
    color: rgb(181, 34, 34);
}

/*I just want some underlining to my h2 elements*/
h2 {
    text-decoration: underline;
}

.varning {
    font-weight: bold;
    color: red;
}

.obs {
    font-style: italic;
    font-weight: bold;
}

button, input[type="radio"]:hover {
    background-color: lightgray;
    cursor: pointer;
}



